<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/a4c9769cfc.js" crossorigin="anonymous"></script>
    <title>Movies App</title>
</head>
<body>
    <%= render partial: 'layouts/header' %>
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="col-2 d-none d-md-block">
                <%= render partial: 'layouts/sidebar', categories: @categories %> 
            </div>
            
            <div class="col-md-10 d-flex flex-column justify-content-center align-items-center">
                <% if flash[:notice]  %>
                    <div class="alert alert-primary m-4" role="alert">
                        <%= flash[:notice] %>
                    </div>
                <% end %>
                <% if flash[:alert]  %>
                    <div class="alert alert-danger m-4" role="alert">
                        <%= flash[:alert] %>
                    </div>
                <% end %>

                <div class="col-md-6 my-4">
                    <div class="text-center h2">
                        <%= @movie['title'] %>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="https://image.tmdb.org/t/p/w342<%= @movie['poster_path'] %>" class="rounded">
                    </div>
                    <% if @movie['overview'].length != 0 %>
                        <div class="h5 text-center my-4">
                            あらすじ
                        </div>
                        <div class="text-center m-4">
                            <%= @movie['overview'] %>
                        </div>
                    <% end %>
                    <div class="d-flex m-4">
                        <div class="m-1">
                            <%= link_to movies_path do %>
                                <i class="fa-solid fa-arrow-left-long"></i>
                            <% end %>
                        </div>
                        <div>
                            <a href="https://www.amazon.co.jp/s?k=<%= @movie['title'] %>&i=instant-video" target="_blank" class="btn btn-warning mx-4">
                                Prime Video
                            </a>
                        </div>
                        <% if user_signed_in? %>
                            <div class="m-1">
                                <% if @is_favorite %>
                                    <%= link_to favorite_path(movie: @movie), method: :delete do %>
                                        <i class="fa-solid fa-heart"></i>
                                    <% end %> 
                                <% else %>
                                    <%= link_to favorite_path(movie: @movie) do %>
                                        <i class="fa-regular fa-heart"></i>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>